.list-group-item {
  background-color: #333;
}
a.list-group-item, a.list-group-item:hover, a.list-group-item:focus {
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
}
a.list-group-item:hover, a.list-group-item:focus {
  background-color: #a9a9a9;
  background-color: rgba(255,255,255,.25);
}
a.list-group-item .list-group-item-heading {
  color: #fff;
}
